<a href="https://colab.research.google.com/github/mariahelenass/NLP-/blob/main/Curso_Python_AULA_1%2C2%2C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TESTANDO PYTHON

In [ ]:
print ("CURSO DE PYTHON PARA PLN - PARTE 1")

CURSO DE PYTHON PARA PLN - PARTE 1

INTRODUÇÃO PYTHON

In [ ]:
y = "maria helena"
print (y)

maria helena

In [ ]:
type(y)

str

In [ ]:
v1 = "1"
v2 = 1

In [ ]:
for i in range(5):  
  print(i)

0
1
2
3
4

In [ ]:
lista = []
lista = list (range(5))
lista = [0,1,2,3,4]
print(lista)

[0, 1, 2, 3, 4]

In [ ]:
lista = []
lista = list (range(5))
lista = [0,1,2,3,4]
print(type (lista))

<class 'list'>

In [ ]:
lista.append(5) #adicionar valor no final da lista
print (lista)

In [ ]:
lista[1] = 5 
print(lista)

[0, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
lista.insert(0,6) #adicionar 6 na posição 0 
print (lista)

[6, 0, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
lista.reverse() #reverter valores da lista, nao precisa nada dentro dosp parenteses
print(lista)

[6, 0, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
lista.sort() #ordernar a lista 
print(lista)

[0, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6]

In [ ]:
lista.count(6) #quantos vezes aparece o elemento x

1

In [ ]:
lista.index(6) #qual a posição de x elemento, mostra a primeira ocorrência de x

14

In [ ]:
lista2 = list(range(10))
print(lista2)
print(lista2[2:7]) # Assim, no nosso exemplo, queremos do 3º elemento até o 7º

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]

In [ ]:
print(lista2[2:7:2]) #significa que queremos uma sublista do 3º ao 7º elemento, pulando de 2 em 2 elementos.

[2, 4, 6]

In [ ]:
t = (1, 'maria', 2 , 'helena') #não pode modificar os elementos, apenas na atribuição!!
print(t)

(1, 'maria', 2, 'helena')

In [ ]:
dicionario = {} 
dicionario['maria'] = 10
dicionario['ana'] = 9
dicionario['linda'] = 8
print(dicionario)

{'maria': 10, 'ana': 9, 'linda': 8}

In [ ]:
dicionario['maria']

10

In [ ]:
print(dicionario.keys())

dict_keys(['maria', 'ana', 'linda'])

In [ ]:
print(dicionario.values())

dict_values([10, 9, 8])

In [ ]:
type(dicionario.keys())

dict_keys

In [ ]:
dicionario.keys()[0] #nao consegue ver quem foi a primeira pessoa! como fazer isso?

TypeError: ignored

In [ ]:
list(dicionario.keys())[0]  #assim que faz!!!!!!

'maria'

In [ ]:
list(dicionario.items())

[('maria', 10), ('ana', 9), ('linda', 8)]

In [ ]:
for chave,valor in dicionario.items(): #repete tudo de acordo com a estrutura
  print(chave, "teve nota", valor)

maria teve nota 10
ana teve nota 9
linda teve nota 8

In [ ]:
from google.colab import drive
drive.mount('/content/drive')